 */Answers
1. All correct.

2. Add semi colon -line 9

3. </html> <-Add this line -line 13

4. Add ":" Colons - line 2,3,4

5. <li> tag is not closed - line 35

6. Add Semi colon -line 15

7. All correct.

8. Add semi colon -line 17

9. href anchor tag name corrected. -line 14,15,16

10) Add Missing semi colon -line 14